/* ======= */
/* tailwind layers */
@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

/* ======= */
/* utilities */
@import "../css/utilities/colors.css";
@import "../css/utilities/borders.css";
@import "../css/utilities/typography.css";
@import "../css/utilities/animation.css";
@import "../css/utilities/spacing.css";

/* ======= */
/* base */
@import "../css/base/colors.css";
@import "../css/base/typography.css";
@import "../css/base/forms.css";
@import "../css/base/images.css";
@import "../css/base/tables.css";

/* ======= */
/* components */
/* - atoms */
@import "../css/components/buttons.css";
@import "../css/components/windows.css";
/* - components */
@import "../css/components/header.css";

/* ======= */
/* development */

/* - reset default border color */
*,
::before,
::after {
  @apply color__border-divider-1;
}

/* - update page behavior */
/* - scale with base size */
html {
  scroll-behavior: smooth;
}

/* - hide alpine elements until ready */
[x-cloak] {
  @apply !hidden;
}

/* - fix for firefox range slider */
input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  cursor: pointer;
  -moz-appearance: none;
  width: 32px;
  height: 24px;
  /* @apply w-6 h-6 appearance-none pointer-events-auto; */
}

/* - strikethrough */
.anglethrough {
  @apply relative;
}
.anglethrough:before {
  @apply absolute opacity-25;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right bottom,
    transparent calc(50% - 2px),
    var(--color__text-light),
    transparent calc(50% + 2px)
  );
}

/* - reset line-height */
.leading-reset {
  line-height: 1em !important;
  * {
    line-height: 1em !important;
  }
}

/* video */
video::-webkit-media-controls-enclosure {
  width: 100%;
  overflow: hidden;
}
video::-webkit-media-controls-panel {
  padding: var(--sizes__gap-width);
}

/* - scrollbars */
.hidescrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hidescrollbar::-webkit-scrollbar {
  display: none;
}
.showscrollbar::-webkit-scrollbar {
  @apply h-1;
}
.showscrollbar::-webkit-scrollbar-track {
  @apply color__bg-shade-1;
}
.showscrollbar::-webkit-scrollbar-thumb {
  @apply color__bg-shade-2 cursor-ew-resize;
}
.showscrollbar::-ms-scrollbar {
  @apply h-1;
}
.showscrollbar::-ms-track {
  @apply color__bg-shade-1;
}
.showscrollbar::-ms-thumb {
  @apply color__bg-shade-2 cursor-ew-resize;
}

/* - flag icons */
.fi {
  @apply border--width color__border-divider-2 inline-block rounded-full bg-contain bg-center bg-no-repeat pr-2;
  width: 1.33333333em;
  line-height: 1em;
}
.fi:before {
  content: "\00a0";
}

/* - tooltip */
/* - add this attribute to the element that needs a tooltip */
[data-tooltip] {
  @apply z-10;
}
/* - hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  @apply animation-300 invisible opacity-0;
}
/* - position tooltip above the element */
[data-tooltip]:before {
  @apply type--smaller color__bg-shade-1 border__button--radius absolute bottom-auto left-auto right-auto top-auto flex items-center justify-center border-0 px-2 py-1 backdrop-blur-sm;
  content: attr(data-tooltip);
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  @apply visible opacity-100;
}

/* mapbox styling */
.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  background-color: transparent !important;
  padding: 5px !important;
  opacity: 0.5 !important;
}

/* - add spacing to challenge captcha page */
/* - add spacing to shopify legal pages */
.shopify-challenge__container,
.shopify-policy__container {
  @apply py-40;
}

/* dynamic checkout */
/* https://github.com/Shopify/dawn/blob/main/assets/section-main-product.css */
[data-shopify-buttoncontainer] {
  @apply !justify-center;
  li {
    @apply !grow;
  }
}
.shopify-payment-button__button {
  @apply type__nav;
}
.shopify-payment-button__button--hidden {
  @apply !hidden;
}
.shopify-payment-button__button,
.shopify-payment-button__more-options {
  @apply !border__button--radius overflow-hidden;
}
.shopify-payment-button__button--unbranded {
  @apply !color__bg-secondary !color__secondary hover:color__bg-secondary !px-6 !py-2 hover:opacity-75;
  @apply !leading-normal !tracking-wide;
}
.shopify-payment-button__button--branded {
  @apply hover:color__bg-secondary hover:opacity-75;
  @apply !leading-normal !tracking-wide;
}
.shopify-payment-button__button [role="button"] {
  @apply min-h-0 p-0;
}
.shopify-payment-button__button:focus-within {
  @apply !border--focus;
}
.shopify-payment-button__more-options {
  @apply !color__bg-overlay-1 px-6 py-2;
}

/* - hide buttons on number inputs  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
