/* BUTTONS */
/* ======= */

@layer components {
  /* standard button */
  .btn {
    @apply type__nav border__button--radius color__button-primary border__button animation-500 inline-flex w-auto cursor-pointer items-center justify-center overflow-hidden px-6 py-2 text-center animation-300 !no-underline;
    text-transform: var(--type__button-capiliziation) !important;

    * {
      @apply type__nav !no-underline;
      text-transform: var(--type__button-capiliziation) !important;
    }

    &__content {
      @apply flex items-center type__nav;
    }

    /* states */
    &--hover,
    &:hover {
      @apply no-underline opacity-75;
    }
    &--focus,
    &:focus-visible {
      @apply border__button--focus;
    }
    &--disabled,
    &:disabled {
      @apply opacity-50 cursor-not-allowed;
    }

    /* sizes */
    &--small {
      @apply px-4 type--small;
    }
    &--small > * {
      @apply type--small;
    }
    &--smaller {
      @apply px-4 py-1 type--smaller;
    }
    &--smaller > * {
      @apply type--smaller;
    }
    &--big {
      @apply py-3 type--big px-9;
    }
    &--big > * {
      @apply type--big;
    }

    /* standard colors */
    &--secondary {
      @apply color__button-secondary;
    }
    &--tertiary {
      @apply color__button-tertiary;
    }
    &--neutral {
      @apply color__button-neutral;
    }
    &--plain {
      @apply color__button-plain;
    }
    &--diff{
      background-color: #fff;
      border-color: #fff;
      color: #000;
      * {
        color: #000;
      }
    }

    &--outline {
      @apply border--button-width;
      background-color: transparent;
      color: var(--color__text-light);
      border-color: var(--color__text-light);
      * {
        color: var(--color__text-light);
      }
    }
    &--outline-alt {
      @apply border--button-width;
      background-color: transparent;
      color: var(--color__text-dark);
      border-color: var(--color__text-dark);
      * {
        color: var(--color__text-dark);
      }
    }

    &--minimal {
      background-color: transparent;
      color: var(--color__text-light);
      @apply min-w-0 min-h-0 p-0 normal-case border-none rounded-none type__body;
      &:hover {
        @apply shadow-none border--focus-simple;
      }
      &:focus-visible {
        @apply shadow-none border--focus-simple;
      }
      * {
        color: var(--color__text-light);
      }
    }

    &--minimal-alt {
      background-color: transparent;
      color: var(--color__text-dark);
      @apply min-w-0 min-h-0 p-0 normal-case border-none rounded-none type__body;
      &:hover {
        @apply shadow-none border--focus-simple;
      }
      &:focus-visible {
        @apply shadow-none border--focus-simple;
      }
      * {
        color: var(--color__text-dark);
      }
    }

    /* button animations */
    /* - set style for default loading button */
    &--load {
      @apply relative;
    }
    &--loading {
      cursor: wait;
    }
    /* - make sure spinner is spinner */
    &__spinner {
      @apply absolute flex items-center justify-center invisible w-11/12 transform left-2/4 top-2/4 -translate-y-2/4 -translate-x-2/4 bg-inherit;
      svg {
        @apply m-0 m-auto animate-spin-slow;
      }
    }
    /* - when loading class used, hide content and show spinner */
    &--loading &__content {
      @apply invisible;
    }
    &--loading &__spinner {
      @apply visible;
    }
  }
}
