/* BUTTONS */
/* ======= */

@layer components {
  /* standard button */
  .btn {
    @apply type__nav border__button--radius color__button-primary border__button animation-500 animation-300 inline-flex w-auto cursor-pointer items-center justify-center overflow-hidden px-6 py-2 text-center !no-underline;
    text-transform: var(--type__button-capiliziation) !important;

    * {
      @apply type__nav !no-underline;
      text-transform: var(--type__button-capiliziation) !important;
    }

    &__content {
      @apply type__nav flex items-center;
    }

    /* states */
    &--hover,
    &:hover {
      @apply no-underline opacity-75;
    }
    &--focus,
    &:focus-visible {
      @apply border__button--focus;
    }
    &--disabled,
    &:disabled {
      @apply cursor-not-allowed opacity-50;
    }

    /* sizes */
    &--small {
      @apply type--small px-4;
    }
    &--small > * {
      @apply type--small;
    }
    &--smaller {
      @apply type--smaller px-4 py-1;
    }
    &--smaller > * {
      @apply type--smaller;
    }
    &--big {
      @apply type--big px-9 py-3;
    }
    &--big > * {
      @apply type--big;
    }

    /* standard colors */
    &--secondary {
      @apply color__button-secondary;
    }
    &--tertiary {
      @apply color__button-tertiary;
    }
    &--neutral {
      @apply color__button-neutral;
    }
    &--plain {
      @apply color__button-plain;
    }
    &--shade {
      @apply color__button-shade;
    }
    &--unshade {
      @apply color__button-unshade backdrop-blur-sm;
    }
    &--diff {
      background-color: #fff;
      border-color: #fff;
      color: #000;
      * {
        color: #000;
      }
    }

    &--outline {
      @apply border--button-width;
      background-color: transparent;
      color: var(--color__text-light);
      border-color: var(--color__text-light);
      * {
        color: var(--color__text-light);
      }
    }
    &--outline-alt {
      @apply border--button-width;
      background-color: transparent;
      color: var(--color__text-dark);
      border-color: var(--color__text-dark);
      * {
        color: var(--color__text-dark);
      }
    }

    &--minimal {
      background-color: transparent;
      color: var(--color__text-light);
      @apply type__body min-h-0 min-w-0 rounded-none border-none p-0 normal-case;
      &:hover {
        @apply border--focus-simple shadow-none;
      }
      &:focus-visible {
        @apply border--focus;
      }
      * {
        color: var(--color__text-light);
      }
    }

    &--minimal-alt {
      background-color: transparent;
      color: var(--color__text-dark);
      @apply type__body min-h-0 min-w-0 rounded-none border-none p-0 normal-case;
      &:hover {
        @apply border--focus-simple shadow-none;
      }
      &:focus-visible {
        @apply border--focus;
      }
      * {
        color: var(--color__text-dark);
      }
    }

    /* button animations */
    /* - set style for default loading button */
    &--load {
      @apply relative;
    }
    &--loading {
      cursor: wait;
    }
    /* - make sure spinner is spinner */
    &__spinner {
      @apply invisible absolute left-2/4 top-2/4 flex w-11/12 -translate-x-2/4 -translate-y-2/4 transform items-center justify-center bg-inherit;
      svg {
        @apply animate-spin-slow m-0 m-auto;
      }
    }
    /* - when loading class used, hide content and show spinner */
    &--loading &__content {
      @apply invisible;
    }
    &--loading &__spinner {
      @apply visible;
    }
  }
}
