/* ANIMATION */
/* - utility classes to add default animation stuff */
/* ======= */

@layer utilities {
  /* animation timing */
  /* - add classes to any element to enable animation at set duration */
  /* - add --all to transition all properties, using class without --all will only transition default css values */
  .animation-100 {
    @apply transition duration-100;
  }
  .animation-300 {
    @apply transition duration-300;
  }
  .animation-300--all {
    @apply transition-all duration-300;
  }
  .animation-500 {
    @apply transition duration-500;
  }
  .animation-500--all {
    @apply transition-all duration-500;
  }
  .animation-1000 {
    @apply transition duration-1000;
  }
  .animation-5000 {
    @apply transition;
    transition-duration: 5000ms;
  }
  .animation-5000--all {
    @apply transition-all;
    transition-duration: 5000ms;
  }

  /* animation effects */
  /* - pulse loading state */
  .animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  /* - horizontal scroll, used in marquee */
  .animate-xscroll {
    animation: xscroll 10s linear infinite;
  }
  /* - spin, used for loading spinners */
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }
  /* - hop, used for chat indicators */
  .animate-hop {
    animation: hop 1.2s ease-in 0.2s infinite;
  }
  .animate-hop-1 {
    animation: hop 1.2s ease-in 0.2s infinite;
  }
  .animate-hop-2 {
    animation: hop 1.2s ease-in 0.4s infinite;
  }
  .animate-hop-3 {
    animation: hop 1.2s ease-in 0.6s infinite;
  }

  /* scroll animations */
  /* - will only work where animation-range supports a percentage */
  @supports (animation-range: 10%) {
    /* blur and zoom in animation, used in banners */
    .scroll-blurinzoom-2-20 {
      filter: blur(8px);
      transform: scale(1.05);
      animation: blurinzoom linear both;
      animation-timeline: view();
      animation-range: 2% 20%;
    }

    /* blur text in and out, used in banners */
    .scroll-blurinfadeinandout-1-100 {
      opacity: 0.5;
      filter: blur(8px);
      animation: blurinfadeinandout linear both;
      animation-timeline: view();
      animation-range: 1% 100%;
    }

    /* simple opacity fade in, used throughout the theme */
    .scroll-fadein-2-20 {
      opacity: 0;
      animation: fadein linear both;
      animation-timeline: view();
      animation-range: 2% 20%;
    }

    /* fade in from 0.5 opacity, used for horizontal sliders */
    .scroll-fadeinhalf-inline-2-20 {
      opacity: 0.5;
      animation: fadeinhalf linear both;
      animation-timeline: view(inline);
      animation-range: 2% 20%;
    }

    /* fade in and out using inlined variables, used for product list */
    .scroll-fadeinandouthalf-dynamic {
      opacity: 0.1;
      animation: fadeinandouthalf linear both;
      animation-timeline: view();
      animation-range: var(--offset-1) var(--offset-2);
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes hop {
  0% {
    transform: "translateY(0)";
  }
  50% {
    transform: "translateY(-50%)";
  }
  100% {
    transform: "translateY(0)";
  }
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes xscroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 0rem));
  }
}

@keyframes blurinzoom {
  from {
    filter: blur(8px);
    transform: scale(1.05);
  }
  to {
    filter: blur(0px);
    transform: scale(1);
  }
}

@keyframes blurinfadeinandout {
  0% {
    opacity: 0.5;
    filter: blur(8px);
  }
  20% {
    opacity: 1;
    filter: blur(0px);
  }
  80% {
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    opacity: 0.5;
    filter: blur(8px);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeinhalf {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeinandouthalf {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
