/* SPACING */
/* - utility classes to add padding and margin that matches the set gap sizing */
/* ======= */

@layer utilities {
  .padding--gap {
    padding: var(--sizes__gap-width);
  }
  .padding--t-gap {
    padding-top: var(--sizes__gap-width);
  }
  .padding--r-gap {
    padding-right: var(--sizes__gap-width);
  }
  .padding--b-gap {
    padding-bottom: var(--sizes__gap-width);
  }
  .padding--l-gap {
    padding-left: var(--sizes__gap-width);
  }

  .margin--gap {
    margin: var(--sizes__gap-width);
  }
  .margin--t-gap {
    margin-top: var(--sizes__gap-width);
  }
  .margin--r-gap {
    margin-right: var(--sizes__gap-width);
  }
  .margin--b-gap {
    margin-bottom: var(--sizes__gap-width);
  }
  .margin--l-gap {
    margin-left: var(--sizes__gap-width);
  }

  .height--smaller {
    height: var(--spacing__font-smaller); 
  }
  .height--small {
    height: var(--spacing__font-small); 
  }
  .height--base {
    height: var(--spacing__font-base); 
  }
  .height--big {
    height: var(--spacing__font-big); 
  }
  .height--bigger {
    height: var(--spacing__font-bigger); 
  }
  .width--smaller {
    width: var(--spacing__font-smaller); 
  }
  .width--small {
    width: var(--spacing__font-small); 
  }
  .width--base {
    width: var(--spacing__font-base); 
  }
  .width--big {
    width: var(--spacing__font-big); 
  }
  .width--bigger {
    width: var(--spacing__font-bigger); 
  }

}
