/* TYPOGRAPHY */
/* - utility classes to add default typography styles */
/* ======= */

@layer utilities {
  /* ======= */
  /* body type */
  .type__body {
    font-family: var(--type-font-body-family);
    font-style: var(--type-font-body-style);
    font-weight: var(--type-font-body-weight);
    @apply underline-offset-2 leading-relaxed tracking-normal;
  }

  /* ======= */
  /* header type */
  .type__heading {
    font-family: var(--type-font-header-family);
    font-style: var(--type-font-header-style);
    font-weight: var(--type-font-header-weight);
    @apply underline-offset-4 tracking-normal;
    @apply leading-tight;
  }
  .type__heading-1 {
    font-family: var(--type-font-header-family);
    font-style: var(--type-font-header-style);
    font-weight: var(--type-font-header-weight);
    @apply md:text-5xl underline-offset-4 text-4xl tracking-normal;
    @apply leading-tight;
  }
  .type__heading-2 {
    font-family: var(--type-font-header-family);
    font-style: var(--type-font-header-style);
    font-weight: var(--type-font-header-weight);
    @apply md:text-4xl underline-offset-4 text-3xl tracking-normal;
    @apply leading-tight;
  }
  .type__heading-3 {
    font-family: var(--type-font-header-family);
    font-style: var(--type-font-header-style);
    font-weight: var(--type-font-header-weight);
    @apply md:text-3xl underline-offset-4 text-2xl tracking-normal;
    @apply leading-tight;
  }
  .type__heading-4 {
    font-family: var(--type-font-header-family);
    font-style: var(--type-font-header-style);
    font-weight: var(--type-font-header-weight);
    @apply md:text-2xl underline-offset-4 text-xl tracking-normal;
    @apply leading-tight;
  }
  .type__heading-5 {
    font-family: var(--type-font-header-family);
    font-style: var(--type-font-header-style);
    font-weight: var(--type-font-header-weight);
    @apply md:text-xl underline-offset-4 text-lg tracking-normal;
    @apply leading-tight;
  }
  .type__heading-6 {
    font-family: var(--type-font-header-family);
    font-style: var(--type-font-header-style);
    font-weight: var(--type-font-header-weight);
    @apply md:text-lg underline-offset-4 text-base tracking-normal;
    @apply leading-tight;
  }

  /* ======= */
  /* navigation type */
  .type__nav {
    font-family: var(--type-font-nav-family);
    font-style: var(--type-font-nav-style);
    font-weight: var(--type-font-nav-weight);
    @apply underline-offset-2 leading-normal tracking-wide;
  }

  /* ======= */
  /* changing font size */
  .type--smaller {
    @apply text-xs;
    * {
      @apply text-xs;
    }
  }
  .type--small {
    @apply md:text-sm text-xs;
    *, &::placeholder {
      @apply md:text-sm text-xs;
    }
  }
  .type--base {
    @apply md:text-lg text-base;
    *, &::placeholder {
      @apply md:text-lg text-base;
    }
  }
  .type--big {
    @apply md:text-2xl text-xl;
    *, &::placeholder {
      @apply md:text-2xl text-xl;
    }
  }
  .type--bigger {
    @apply md:text-3xl text-2xl;
    *, &::placeholder {
      @apply md:text-3xl text-2xl;
    }
  }
}
